@use 'variables' as *;

.navigator {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    padding: 20px 15px;
    ul{
        display: flex;
        align-items: center;
        gap: 15px;
        li{
            font-size: 24px;
            color: var(--var-color-1);
        }
    }
}